*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
/* layout */
.container{
    max-width: 1500px;
    margin: auto;
    padding: 0 50px;

}
.col-3{
    width: calc(100% / 3);
}
.flex{
    display: flex;
}
.row{
    flex-wrap: wrap;
}
/* style */
.line-throught{
    text-decoration: line-through;
}
p{
    font-size: 12px;
}
.card-image{
    position: relative;
}
.card-image > img{
    display: block;
}
.badge{
    line-height: 20px;
    color: white;
    font-size: 10px;
    padding: 0 5px;
}
.card{
    padding: 15px;
}
.card-image .badge {
    position: absolute;
    bottom: 35px;
    z-index: 10;
}
.card-image .second-badge{
    left: 35px
}
.heart-icon{
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 10;
    line-height: 35px;
    padding: 0 8px;
    font-size: 28px;
    background-color: white;
}
.card-image .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: none;
}
.card:hover .overlay{
    opacity: 1;
}
.header-bar{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    background-color: rgb(255, 115, 0);
    padding: 0 65px;
    color: white;
    align-items: center;
    margin-bottom: 40px;
}
.header-bar p{
    font-size: 15px;
}
.header-bar img{
    display: flex;
    max-height: 30px;
}
.footer{
    background-color: black;
    margin-bottom: 0;
}
.footer a{
    color: white;
}
/* colors */
.red{
    color: red;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: red;
}